
<div
    #canvas
    canvasEvents
    id="three-canvas">
</div>


<!-- <button
  mat-raised-button
  class="btn"
  id="bottom-button"
  (click)="loadIfcAsFragments()"
>Basic</button> -->


<!-- (longPress)="onLongPress($event)"
(shortPress)="onShortPress($event)"
(shortPressRight)="onShortPressRight($event)" -->

<!-- <div #canvas id="canvas">
</div> -->

<!--hidden button for file upload-->
<input #ifcUpload type="file"
(change)="loadIfcAsFragments($event)" style="display:none">

<input #idsUpload type="file"
(change)="loadIds($event)" style="display:none">

<input #scheduleUpload type="file"
(change)="loadSchedule($event)" style="display:none">

<!-- Container with viewer components on the right side -->
<div id="viewer-panel-right">
  <div class="viewer-panel-container">

    <!-- VALIDATION -->
    <validation-report
      *ngIf="idsResult"
      [idsResult]="idsResult"
      (showResults)="visualizeFailedEntities($event)"
    ></validation-report>


    <!-- LEGEND -->
    <color-legend-round
      *ngIf="activeViewerComponents.legend == true"
      style="margin-right: 10px;"
      [clickable]="false"
      [width]="120"
      [data]="legendData"
    ></color-legend-round>
    <!-- <color-legend-round *ngIf="activityPanelExpanded" style="margin-left: 10px;" [clickable]="false" [width]="300" [data]="legendData" ></color-legend-round> -->

  </div>
</div>



