<viewer ></viewer>
<!-- <div class="app-extends" >
  <viewer ></viewer>
</div> -->




<!-- <div id="bottom-toolbar">
  <!- -our custom file upload button- ->
  <button
    class="btn"
    mat-raised-button
    (click)="fileUpload.click()"
    matTooltip="Load IFC">
    <mat-icon>upload</mat-icon>
  </button>
  <button
    mat-raised-button
    class="btn"
    style="background-color: lightgray;"
  >...</button>
</div>


 <!- -hidden button for file upload- ->
 <input #fileUpload type="file"
 (change)="loadIfcAsFragments($event)" style="display:none"> -->
